<!DOCTYPE html>
<html>
  <head>
    <title>Shoe Store</title>
    <link rel="stylesheet" href="Styles/main.css" />
    <!-- Assuming you have some styles -->
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <div class="filter-container">
        <select id="filter" name="priceFilter">
          <option value="Best Offer" <%= priceFilter === 'Best Offer' ? 'selected' : '' %>>Best Offer</option>
          <option value="lowHigh" <%= priceFilter === 'lowHigh' ? 'selected' : '' %>>Price: low - High</option>
          <option value="highLow" <%= priceFilter === 'highLow' ? 'selected' : '' %>>Price: High - Low</option>
        </select>
      </div>

      <div class="shoes-container">
        <% shoes.forEach(shoe => { %>
        <div class="shoe">
          <img src="<%= shoe.primaryImage %>" alt="<%= shoe.name %>" />
          <h3><%= shoe.name %></h3>
          <p><%= shoe.title %></p>
          <p><b>Price: </b>$<%= shoe.price %></p>
          <button class="btn">Add to Cart</button>
        </div>
        <% }); %>
      </div>
    </main>

    <div id="pagination">
  <% if (currentPage > 1) { %>
      <a href="/store?page=<%= currentPage - 1 %>&priceFilter=<%= priceFilter %>">Previous</a>
  <% } %>

  <% for (let i = 1; i <= totalPages; i++) { %>
      <a href="/store?page=<%= i %>&priceFilter=<%= priceFilter %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
  <% } %>

  <% if (currentPage < totalPages) { %>
      <a href="/store?page=<%= currentPage + 1 %>&priceFilter=<%= priceFilter %>">Next</a>
  <% } %>
</div>
    <%- include ('partials/footer') %>

    <script src="/Scripts/script.js"></script>
    <script src="/controllers/shoes.js"></script>

    <script>
  document.getElementById('filter').addEventListener('change', function() {
    const selectedFilter = this.value;
    const currentPage = new URLSearchParams(window.location.search).get('page') || 1;
    
    // Redirect to the same page with the selected filter and current page number
    window.location.href = `/store?page=${currentPage}&priceFilter=${selectedFilter}`;
  });
</script>

  </body>
</html>
