<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users Managment</title>
    <link rel="stylesheet" href="/Styles/main.css" />
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        margin: 0;
        padding: 0;
      }

      h1 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
        font-size: 3rem;
      }

      #users-form {
        text-align: center;
        width: 100%;
        max-width: 600px;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
      }

      label {
        font-size: 1.4rem;
        color: #555;
        margin-bottom: 8px;
      }

      input[type="email"] {
        width: calc(100% - 20px);
        padding: 10px;
        margin-bottom: 15px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
      }

      .btn {
        display: inline-block;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        padding: 8px 15px;
        margin-right: 10px;
        font-size: 0.9rem;
      }

      .btn-find{
        padding: 12px 24px;

      }

      .btn:hover {
        background-color: #0056b3;
      }

      .btnMarketing {
        border: none;
        background-color: inherit;
      }

      p {
        font-size: 1rem;
      }

      .name-box {
        text-align: center;
        color: #555;
        font-weight: 500;
        border-bottom: 1px solid #555;
        margin-bottom: 14px;
      }

      .name-box p {
        font-size: 22px;
      }

      .users-container {
        width: 100%;
        max-width: 900px;
        margin: 60px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-wrap: wrap;
        gap: 20px;
      }

      .user-box {
        display: flex;
        flex-direction: column;
        gap:14px;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        flex: 1 1 calc(33.333% - 40px);
        min-width: 280px;
      }

      .user h4 {
        color: #333;
        margin: 10px 0;
        font-size: 1.2rem;
      }
      .btn-box {
        text-align: center;
        margin-top: 25px;
        display: flex;
      }

      .btnUpdate {
        background-color: #28a745;
      }

      .btnUpdate:hover {
        background-color: #218838;
      }

      .btnDelete {
        background-color: #dc3545;
      }

      .btnDelete:hover {
        background-color: #c82333;
      }

      .btnMarketing{
        margin-top:8px;
        margin: 8px 0 0 4px;
      }
    </style>
  </head>
  <body>
    <%- include('partials/header') %>

    <form id="users-form" action="/users" method="POST">
      <h1>Users Managment</h1>

      <input
        name="emailUsersForm"
        type="email"
        style="width: 200px"
        placeholder="Enter user email"
      />
      <button class="btn btn-find">Find</button>
      <!-- no user found error -->
      <% if(typeof error !== 'undefined' && errorCode === 102) { %>
      <p style="color: red; text-align: center"><%= error %></p>
      <% } %>
    </form>

    <!-- success messages -->
    <% if(typeof message !=='undefined') { %>
    <p style="color: green; text-align: center"><%= message %></p>
    <%}%>
    <div class="users-container">
      <!-- errors -->
      <% if (typeof error !== 'undefined' && errorCode === 101) { %>
      <p style="color: red; text-align: center; grid-column: 2"><%= error %></p>
      <% } %>

      <!-- Display all users -->
      <% if (users && users.length > 0) { %> <% users.forEach(user => { %>
      <div class="user-box">
        <div class="name-box">
          <p>
            <span><%= user.firstName %></span> <span><%= user.lastName %></span>
          </p>
        </div>
        <p>
          <b>Email:</b><br />
          <%= user.email %>
        </p>
        <p><b>Admin:</b> <%= user.admin ? 'Yes' : 'No' %></p>
        <div style="display: flex; align-items: center;">
          <p><b>Marketing:</b> <%= user.marketing ? 'Yes' : 'No' %></p>
          <form
            action="/toggle-marketing"
            method="POST"
            style="display: inline"
            onsubmit="return confirmMarketing()"
          >
            <input type="hidden" name="userEmail" value="<%= user.email %>" />
            <button class="btnMarketing">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
                style="height: 18px; width: 18px; cursor: pointer"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 0 0-3.7-3.7 48.678 48.678 0 0 0-7.324 0 4.006 4.006 0 0 0-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 0 0 3.7 3.7 48.656 48.656 0 0 0 7.324 0 4.006 4.006 0 0 0 3.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3-3 3"
                />
              </svg>
            </button>
          </form>
        </div>

        <div class="btn-box">
          <!-- Delete User Button -->
          <form
            action="/delete-user"
            method="POST"
            style="display: inline"
            onsubmit="return confirmDelete()"
          >
            <input type="hidden" name="userEmail" value="<%= user.email %>" />
            <button class="btn btnDelete">Delete User</button>
          </form>

          <!-- Admin Button (Toggle Admin) -->
          <form
            action="/toggle-admin"
            method="POST"
            style="display: inline"
            onsubmit="return confirmAdmin()"
          >
            <input type="hidden" name="userEmail" value="<%= user.email %>" />
            <button class="btn btnUpdate">Toggle Admin</button>
          </form>
        </div>
      </div>
      <% });} %>
    </div>

    <%- include('partials/footer') %>
  </body>
  <script>
    function confirmDelete() {
      return confirm("Are you sure you want to delete this user?");
    }

    function confirmAdmin() {
      return confirm("Are you sure you change user's permissions?");
    }

    function confirmMarketing() {
      return confirm("Are you sure you change user's preferences?");
    }
  </script>
</html>
